<!-- ===========================
    Grant Heath
    Volunteer Connect Project
    header.html
    2025-02-20
============================ -->
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" id="mainNavbar">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand" href="#/"><i class="fa-solid fa-user"></i> Volunteer Connect</a>

      <!-- Toggle Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#/"><i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/opportunities" id="opportunitiesLink"><i class="fa-solid fa-bars"></i> Opportunities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/events"><i class="fa-solid fa-calendar-days"></i> Events</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-circle-chevron-down"></i> More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#/about"><i class="fa-solid fa-info"></i> About us and Terms of Service</a></li>
              <li><a class="dropdown-item" href="#/gallery"><i class="fa-solid fa-image"></i> Gallery</a></li>
              <li><a class="dropdown-item" href="#/statistics"><i class="fa-solid fa-chart-bar"></i> Statistics</a></li>
              <li><a class="dropdown-item" href="#/event-planning"><i class="fa-solid fa-plus"></i> Event Planning</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/contact"><i class="fa-regular fa-envelope"></i> Contact Us</a>
          </li>
        </ul>

        <!-- Search Form -->
        <form class="d-flex ms-auto" role="search" onsubmit="event.preventDefault(); searchFunction();">
          <input class="form-control me-2" type="search" id="searchBar" placeholder="Search for events or opportunities" style="width: 300px; text-align: left; margin-right: 20px;">
          <a id="login" class="nav-link" href="#/login" style="margin-left: 20px;"><i class="fa-sign-in-alt"></i> Login</a>
        </form>
      </div>
    </div>
  </nav>
</header>
